.contact-wrapper{
    p{
        font-family: acumin-pro, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #ffffff;
        text-align: left;
    }
}

.email{
    text-overflow: ellipsis;
    overflow: hidden;
}