$primary: #4ecca3;

.sample-wrapper{
    .samples-preview{
        width: 100%;
        z-index: 1;
        border-radius: .25em;
        box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    }
}

.sample-wrapper:hover{
    cursor: pointer;
    .sample-subtitle-wrapper{
        color: $primary;
        transition: 0.2s ease-in-out;
    }
}


.sample-subtitle{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    opacity: 1;
    margin-top: -50%;
    margin-bottom: 40%;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    z-index: 10;
}


@media (max-width: 720px){
    .sample-subtitle{
        font-size: 1.2rem;
        margin-top: -55%;
        margin-bottom: 45%;
    }
}

@media (max-width: 600px){
    .sample-subtitle{
        font-size: 1.2rem;
        margin-top: -55%;
        margin-bottom: 45%;
    }
}

@media (max-width: 375px){
    .sample-subtitle{
        font-size: 1rem;
        margin-top: -55%;
        margin-bottom: 45%;
    }
}


/*
@media (min-width: 600px){
    .sample-title{
        text-align: left !important;
        margin-left: 12px;
    }
    .sample-seperator{
        margin-left: 12px;
    }
}*/


.sample-wrapper{
    .sample-subtitle-wrapper{
        text-decoration: none;        
        display: inline-block;
        padding: 15px 20px;
        position: relative;
    }
} 
.sample-wrapper{
    .sample-subtitle-wrapper:after{    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: $primary;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
        color: $primary;
    }
} 
.sample-wrapper:hover{
    .sample-subtitle-wrapper:after{
        color: $primary;
        width: 100%; 
        left: 0; 
    }
} 
@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}

.dialog-gif{
    width: 100%;
    max-width: 300px;
    border-radius: .25em;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.dialog-img{
    width: 100%;
    border-radius: .25em;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.dialog-content-wrapper{
    max-width: 1170px;
    margin-left: auto !important;
    margin-right: auto !important;
    line-height: 1.5;
}

.dialog-gif-wrapper{
    flex-basis: unset !important;
    width: 100%;
    padding-left: 36px !important;
    padding-right: 36px !important;
    margin: auto !important;
    display: flex;
}

.dialog-app-bar{
    position: fixed;
    height: 60px !important;

    .MuiIconButton-root {
        padding: 12px !important;
    }

    .MuiToolbar-regular {
        min-height: 60px;
    }
}

.dialog-text{
    margin-top: 60px !important;
}

.app-bar-title{
    font-family: trumpgothicpro, sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 2rem;
}
